.side-bar
  .side-bar__user-name
    .side-bar__user-name__top-item
      .side-bar__user-name__top-item__name
        = current_user.name
      .side-bar__user-name__top-item__icons
        = link_to new_group_path , class: "side-bar__user-name__top-item__btn"  do
          = icon('far', 'edit') 
          %span<>
        = link_to edit_user_path(current_user), class: "side-bar__user-name__top-item__btn" do
          = icon('fas', 'cog')
          %span<>
  .side-bar__group-list
    - current_user.groups.each do |group|
      .side-bar__group-list__group-box
        = link_to '#' do
          .side-bar__group-list__group-box__group-name
            = group.name
          .side-bar__group-list__group-box__group-message
            メッセージはまだありません。